* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    width: 180px; 
    height: 100vh;
    overflow-y: auto;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    margin-top: 45px;
    margin-bottom: 20px;
    
}

.scroll-container {
    margin-top: 35PX;
    margin-bottom: 35PX;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 200px; /* slightly more than the navbar's width to give space */
    margin-right: 20px;
    height: 90vh;
    
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    
    
}
.scroll-container::-webkit-scrollbar {
    display: none;
  }

img {
    background-color: dimgray;
    max-width: 800px;
    border-radius: 20px;
}

section {
    display: flex;
    /* justify-content: center; */
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.scroll-section {
    height: 100vh;
    scroll-snap-align: start;
}
h2 {
    font-size: 3rem;
    margin: 30px;
}

#logo{
    background-color: transparent;
    position: absolute;
    top: -60px;
    left: 10px;
    z-index: -10;
}

p {
    font-size: 1.25rem;
    margin-top: 50px;
    max-width: 800px;
}
a {
    background-color: slategray;
    color: aliceblue;
    padding: 2px;
    border-radius: 4px;
    text-align: center;
}